.btn {
	border: 1px solid #000;
	cursor: pointer;
	font-weight: 700;
	border-radius: 5px;
	padding: 7px 8px;
	margin: 3px;
	background: transparent;
	transition: all 0.15s ease-in;
	.active {
		width: max-content;
		font-weight: 700;
		background: #000;
		color: #fff;
	}
	a {
		text-decoration: none;
		color: inherit;
	}
}

.btn.active {
	background: #000;
	color: #fff;
}
