table {
	border-collapse: collapse;
	width: 98%;
	margin: 10px;
	th {
		border-radius: 10px;
		padding: 8px;
		text-align: center;
		color: #000;
	}

	td {
		border: 1px solid #ddd;
		padding: 8px;
		width: fit-content;
	}
	tr:nth-child(odd) {
		background-color: #f2f2f2;
	}
	tr:hover {
		background-color: #ddd;
	}
}
