header {
  position: sticky;
  top: 0;
	display: flex;
	justify-content: center;
	width: 100%;
	background-color: #000;
	color: #fff;
	.navbar {
		padding: 10px;
		width: 90%;
		display: flex;
		align-items: center;
		justify-content: space-between;
		.nav {
			display: flex;
			a {
				margin: 0 10px;
				text-decoration: none;
				color: #fff;
				font-weight: 700;
			}
		}
	}
}
