* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.user_list {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.user_data {
	cursor: pointer;
	margin: 10px;
	padding: 5px;
	border: 2px solid #ff2ff1b0;
	box-shadow: 0 0 10px #ff2ff179;
	border-radius: 10px;
	width: 350px;
	display: flex;
	align-items: center;
	flex-direction: column;
	transition: transform 0.1s ease-in;
	&:hover {
		transform: translateY(-3px);
	}
}
